# Ignoring directories
# Both the directory itself and its contents will be ignored.
data/RAW/
data/CURATED/
data/OUTPUT/
data/CSV_FINI/
.ipynb_checkpoints/
.vscode/
__pycache__/
functions/__pycache__/
